<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/main.css">
<link rel="icon" type="image/x-icon" href="includes/favicon.png">
<!-- PWA Manifest -->
<link rel="manifest" href="/manifest.webmanifest">
<!-- W3 CSS -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Righteous&etBrains+Mono:ital,wght@0,600;1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,600;1,100&family=Lato:wght@100;400;900&display=swap" rel="stylesheet">
<title>WeatherApp</title>