<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <%- include('./partials/nav.ejs') %>
    <div class="page-container">
        <h1>Not found</h1>
        <p>The page you're looking for cannot be found.</p>
    </div>
</body>
</html>
