<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <%- include('./partials/nav.ejs') %>
    <div class="page-container">
        <h2>About</h2>
        <p>I am Aashish Joshi and this site is part of my portfolio. Feel free to fork the code on GitHub and use it in your projects.</p>
        <p>Questions, comments and suggestions are welcome.</p>
    </div>

    <%- include('./components/credit-modal.ejs') %>

    <!-- MAIN JS FILE -->
    <script src="/main.js"></script>
</body>
</html>