* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Righteous', cursive;
    overflow: hidden;
  }

.container {
  height: 97vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgba(230, 224, 113, 1) 100%
  );
}

.weather {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

.circle{
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}

.footer {
  height: 3vh;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(87, 84, 52);
  color: antiquewhite;
}

.current {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  height: 1px;;
  background-color: black;
  border: 0;
  margin: 5px 0;
}
a, a:visited,a:active {
  text-decoration: none;
  /*color: green;*/
  color: rgb(224, 196, 91);
  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Francois One', sans-serif;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  height: 60vh;
  width: 30%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 12px 16px;
  color: black;
  margin: 5% 0;
}

.modal-body {
  padding: 10px 16px;
}

.modal-footer {
  margin-top: 9vh;
  padding: 12px 16px;
  color: black;
}

.button {
  background-color: rgb(251, 242, 133); /* Green */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  font-family: 'Francois One', sans-serif;
}

